<h2 class="text-capitalize">{{title}} node </h2>
<form>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" ng-model="node.name" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="interface">Interface:</label>
    <input type="text" ng-model="node.iface" class="form-control" id="interface">
  </div>
  <div class="form-group">
    <label for="address">Address:</label>
    <input type="text" ng-model="node.address" class="form-control" id="address">
  </div>
  <div class="form-group">
    <label for="last-heartbeat">Last Heartbeat:</label>
    <input type="text" ng-model="node.last_heartbeat" ng-readonly="true" class="form-control" id="last-heartbeat">
  </div>
  <div data-ng-repeat="prop in props">
    <div class="form-group">
      <label for="prop_name">Prop Name:</label>
      <input type="text" ng-model="prop.name" class="form-control" id="prop_name">
    </div>
    <div class="form-group">
      <label for="prop_value">Value:</label>
      <input type="text" ng-model="prop.value" class="form-control" id="prop_value">
    </div>
    <p class="text-right">
      <button type="button" class='btn btn-success' ng-click="publish(prop)">Publish Message</button>
      <button type="button" class='btn btn-success' ng-click="subscribe(prop.name)">Topic Subscribe</button>
      <button type="button" class='btn btn-danger' ng-click="removeProp(prop)">Remove Property</button>
    </p>
  </div>
  <div class="form-group">
    <button type="button" class='btn btn-success' ng-click="subscribeAll()">Subscribe all</button>
  </div>
  <div class="form-group"  ng-show="title == 'update'">
    <a type="button" class='btn btn-primary' ng-href="#/nodes/props/create/{{node._id}}">Add prop</a>
  </div>
  <div class="form-group">
    <button type="button" class='btn btn-primary text-capitalize' ng-click="submitNode()">{{title}} Node</button>
  </div>
</form>