<h2 class="text-capitalize">{{title}} Property </h2>
<form>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" ng-model="prop.name" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="value">Value:</label>
    <input type="text" ng-model="prop.value" class="form-control" id="value">
  </div>
  <div class="form-group">
    <label for="type">Type:</label>
    <select name="singleSelect" class="form-control" ng-model="prop.type">
      <option value="">Choose</option>
      <option value="number">Number</option>
      <option value="switch">Switch</option>
    </select>
  </div>
  <p>
    <button type="button" class='btn btn-info text-capitalize' ng-click="submitProp()">{{title}} Property</button>
  </p>
  <p>
    <button type="button" class='btn btn-danger' ng-show="prop._id" ng-click="removeProp(prop)">Remove Property</button>
  </p>
</form>